doctype html
html
  head
    title Event Created
  body
    h2 Event Confirmation
    p Hello #{name},
    p You have successfully created the following event:
    ul
      li
        strong Title: 
        | #{title}
      li
        strong Date: 
        | #{date}
      li
        strong Location: 
        | #{location}
    p Thank you for using our app!
